Example of getting a channels list:
curl http://192.168.47.231:8050/MCP
[
    "9039-0B040D030303030D",
    "Analog Laser 1",
    "Analog Laser 1.Gate Feedback",
    "Analog Laser 1.Gate Request",
    "Analog Laser 1.Power Feedback",
    "Analog Laser 1.Power Request",
    "Analog Laser 2",
    "Analog Laser 2.Gate Feedback",
    "Analog Laser 2.Gate Request",
    "Analog Laser 2.Power Feedback",
    "Analog Laser 2.Power Request",
    "AnalogOut",
    "AnalogOut.AO0",
    "AnalogOut.AO1",
    "AnalogOut.AO2",
    "AnalogOut.AO3",
    "AutomatedTests",
    "Components",
    "Digital Frequency Laser",
    "Digital Frequency Laser.Gate Feedback",
    "Digital Frequency Laser.Gate Request",
    "Digital Frequency Laser.Power Feedback",
    "Digital Frequency Laser.Power Request",
    "Digital PWM Laser",
    "Digital PWM Laser.Gate Feedback",
    "Digital PWM Laser.Gate Request",
    "Digital PWM Laser.Power Feedback",
    "Digital PWM Laser.Power Request",                                                                                                                                                   
    "FPGA",                                                                                                                                                                              
    "FastDigitalOut",                                                                                                                                                                    
    "FastDigitalOut.DO0",                                                                                                                                                                
    "FastDigitalOut.DO1",                                                                                                                                                                
    "FastDigitalOut.DO2",                                                                                                                                                                
    "FastDigitalOut.DO3",                                                                                                                                                                
    "FastDigitalOut.DO4",                                                                                                                                                                
    "FastDigitalOut.DO5",                                                                                                                                                                
    "FastDigitalOut.DO6",                                                                                                                                                                
    "FastDigitalOut.DO7",                                                                                                                                                                
    "Lasers",                                                                                                                                                                            
    "MCP Interface",                                                                                                                                                                     
    "MCP Interface.ElapsedBuildTime",
    "MCP Interface.MessageBox Buttons",
    "MCP Interface.MessageBox Description",
    "MCP Interface.MessageBox Feedback",
    "MCP Interface.MessageBox Modifier",
    "MCP Interface.MessageBox Visibility",
    "MCP Interface.StartBuildTime",
    "MCP Interface.Test channel Double",
    "MCP Interface.TotalBuildTimeEstimation",
    "Motion",
    "Motion.Stepper0.Fault",
    "Motion.Stepper0.Forward Limit",
    "Motion.Stepper0.Position Feedback",
    "Motion.Stepper0.Reverse Limit",
    "Motion.Stepper0.Speed Feedback",
    "Motion.Stepper0.Status",
    "Motion.Stepper1.Fault",
    "Motion.Stepper1.Forward Limit",
    "Motion.Stepper1.Position Feedback",
    "Motion.Stepper1.Reverse Limit",
    "Motion.Stepper1.Speed Feedback",
    "Motion.Stepper1.Status",
    "Motion.Stepper2.Fault",
    "Motion.Stepper2.Forward Limit",
    "Motion.Stepper2.Position Feedback",
    "Motion.Stepper2.Reverse Limit",
    "Motion.Stepper2.Speed Feedback",
    "Motion.Stepper2.Status",
    "Motion.Stepper3.Fault",
    "Motion.Stepper3.Forward Limit",
    "Motion.Stepper3.Position Feedback",
    "Motion.Stepper3.Reverse Limit",
    "Motion.Stepper3.Speed Feedback",
    "Motion.Stepper3.Status",
    "NI-cRIO-9039-AutomatedTests",
    "OPC Server",
    "OPC Server.Heartbeat",
    "OPC Server.Owner Feedback",
    "OPC Server.Owner Request",
    "OPC Server.Release Request",
    "OPC Server.Status",
    "Profibus",
    "Profibus Master",
    "Scan Field 1",
    "Scan Field 1.Active Laser",
    "Scan Field 1.Command",
    "Scan Field 1.Diameter Feedback",
    "Scan Field 1.Diameter Request",
    "Scan Field 1.Status",
    "Scan Field 1.X Feedback",
    "Scan Field 1.X Request",
    "Scan Field 1.Y Feedback",
    "Scan Field 1.Y Request",
    "Scan Field 1.Z Feedback",
    "Scan Field 1.Z Request",
    "Scan Field 2",
    "Scan Field 2.Active Laser",
    "Scan Field 2.Command",
    "Scan Field 2.Diameter Feedback",
    "Scan Field 2.Diameter Request",
    "Scan Field 2.Status",
    "Scan Field 2.X Feedback",
    "Scan Field 2.X Request",
    "Scan Field 2.Y Feedback",
    "Scan Field 2.Y Request",
    "Scan Field 2.Z Feedback",
    "Scan Field 2.Z Request",
    "Scan Field 3",
    "Scan Field 3.Active Laser",
    "Scan Field 3.Command",
    "Scan Field 3.Diameter Feedback",
    "Scan Field 3.Diameter Request",
    "Scan Field 3.Status",
    "Scan Field 3.X Feedback",
    "Scan Field 3.X Request",
    "Scan Field 3.Y Feedback",
    "Scan Field 3.Y Request",
    "Scan Field 3.Z Feedback",
    "Scan Field 3.Z Request",
    "Scan Field 4",
    "Scan Field 4.Active Laser",
    "Scan Field 4.Command",
    "Scan Field 4.Diameter Feedback",
    "Scan Field 4.Diameter Request",
    "Scan Field 4.Status",
    "Scan Field 4.X Feedback",
    "Scan Field 4.X Request",
    "Scan Field 4.Y Feedback",
    "Scan Field 4.Y Request",
    "Scan Field 4.Z Feedback",
    "Scan Field 4.Z Request",
    "Scan Fields",
    "Scan System",
    "Scan System.Command",
    "Scan System.Current Height",
    "Scan System.Current Layer",
    "Scan System.JobFile",
    "Scan System.JobID",
    "Scan System.Status",
    "Scan System.Total Layers",
    "Scanner1",
    "Scanner1.Status",
    "Scanner1.X Actual",
    "Scanner1.X Setpoint",
    "Scanner1.Y Actual",
    "Scanner1.Y Setpoint",
    "Scanner1.Z Actual",
    "Scanner1.Z Setpoint",
    "Scanner2",
    "Scanner2.Status",
    "Scanner2.X Actual",
    "Scanner2.X Setpoint",
    "Scanner2.Y Actual",
    "Scanner2.Y Setpoint",
    "Scanner2.Z Actual",
    "Scanner2.Z Setpoint",
    "Scanner3",
    "Scanner3.Status",
    "Scanner3.X Actual",
    "Scanner3.X Setpoint",
    "Scanner3.Y Actual",
    "Scanner3.Y Setpoint",
    "Scanner3.Z Actual",
    "Scanner3.Z Setpoint",
    "Scanner4",
    "Scanner4.Status",
    "Scanner4.X Actual",
    "Scanner4.X Setpoint",
    "Scanner4.Y Actual",
    "Scanner4.Y Setpoint",
    "Scanner4.Z Actual",
    "Scanner4.Z Setpoint",
    "Script Service",
    "Script Service 1",
    "Script Service 1.Command",
    "Script Service 1.Line Number",
    "Script Service 1.Script Error",
    "Script Service 1.Script Name",
    "Script Service 1.Status",
    "Script Service debug",
    "Script Service debug.Command",
    "Script Service debug.Line Number",
    "Script Service debug.Script Error",
    "Script Service debug.Script Name",
    "Script Service debug.Status",
    "Script Service.Command",
    "Script Service.Line Number",
    "Script Service.Script Error",
    "Script Service.Script Name",
    "Script Service.Status",
    "Scripts",
    "Services",
    "Stepper Motion",
    "Stepper Motion.Command",
    "Stepper Motion.Position Feedback",
    "Stepper Motion.Position Request",
    "Stepper Motion.Speed Feedback",
    "Stepper Motion.Speed Request",
    "Stepper Motion.Status",
    "Supervisor",
    "Supervisor.Machine State",
    "Supervisor.Machine State Description",
    "Supervisor.Message Feedback",
    "Supervisor.Message List",
    "Supervisor.Message Request",
    "Supervisor.Project Version",
    "Supervisor.RT Version",
    "System Monitor",
    "System Monitor.CPU",
    "System Monitor.Disk Usage",
    "System Monitor.Emergency Stop",
    "System Monitor.Error Log",
    "System Monitor.Physical Memory",
    "System Monitor.Virtual Memory",
    "System Monitor.Watch Dog",
    "Targets",
    "User Channels",
    "Virtual Motion",
    "Virtual Motion.Command",
    "Virtual Motion.Position Feedback",
    "Virtual Motion.Position Request",
    "Virtual Motion.Speed Feedback",
    "Virtual Motion.Speed Request",
    "Virtual Motion.Status",
    "scimark"
]

-------------------------------------------------------------------------

Example of getting first channel ("9039-0B040D030303030D"):

curl http://192.168.47.231:8050/MCP/9039-0B040D030303030D
{
    "Name":"9039-0B040D030303030D",
    "GUID":"36CF255D-2265-43AC-955C-925AEC377EE2",
    "Type":"FPGA BitFile"
}
